[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/sysinfo
Icon=help-about
StartupNotify=false
Terminal=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
Name=Systeminfo
Comment=Prints systeminformation
